html {
  background: url(./images/vaes_dothrak.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* LOGIN PAGE */

.title {
  align-self: center;
  margin-top: 100px;
  font-size: 60px;
  font-family: sans-serif;
  color: #fff;
  font-weight: normal;
}

.page-info {
    align-self: center;
    text-align: center;
    max-width: 90%;
    margin-top: 50px;
    font-size:20px;
    font-family: sans-serif;
    color: #fff;
    font-weight: normal;
}

.btn-container {
    align-self: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
    color: #fff;
    font-weight: normal;
}

.login-page {
    display: flex;
    width: 600px;
    margin: 100px auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* Google */
a:link {
  text-decoration:  none;
  color:            #FFF;
  }
a:visited {
  text-decoration:  none;
  background-color: #ddd;
  color:            #FFF;
  }

.login-btn {
      position: relative;
      max-width: 300px;
      max-height: 180px;
      padding: 0 15px 0 46px;
      border: none;
      text-align: left;
      line-height: 34px;
      white-space: nowrap;
      border-radius: 0.2em;
      font-size: 20px;
      color: #FFF;
    }
    .login-btn:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 100%;
    }
    .login-btn:focus {
      outline: none;
    }
    .login-btn:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }

    .login-btn-google {
      background: #DD4B39;
    }
    .login-btn-google:before {
      border-right: #BB3F30 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }
    .login-btn-google:hover,
    .login-btn-google:focus {
      background: #E74B37;
    }
    .login-btn.login-btn-google {
      margin-top: 40px;
      opacity: 1;
    }

/* QUESTION PAGE */

.question-page {
    display: flex;
    max-width: 600px;
    min-height: 400px;
    margin: 100px auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: lightgray;
}

.nav-bar {
    width: 100%;
    height: 30px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-bar-list li {
    display: inline-block;
    text-align: center;
    margin: 0 2px;
}

.nav-bar-list li button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

.flash-card-container {
    text-align: center;
}

.flash-card h2 {
    margin-top: 20px;
}

.flash-card h3 {
    margin-top: 30px;
}

.flash-card-form {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.flash-card-form input {
    width: 150px;
    margin: 10px 0;
    align-self: center;
}

.flash-card-form button {
    display: block;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    align-self: center;

}

/*SETTINGS POPUP*/

.setting-model {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.setting-options li {
    display: block;
    margin: 2px 0;
    margin-right: 40px;
}

/*CORRECT CARD*/

.result-card-right button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
}

.result-card-wrong button {
    margin-top: 0;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
}

.result-card-wrong p {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 3em;
    color: steelblue;
}

.hidden-message {
    display: none;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 2px 2px 2px #aaa;
    width: 800px;
}

.fly-in-text span {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 2.5em;
    color: steelblue;
    opacity: 1;
    transition: all 4s ease;
}
.fly-in-text span:last-child {
    margin-right:0;
}

.fly-in-text.hidden span {
    opacity: 0;
    transform: translateX(-200px) translateY(-200px)
}

.feedback {
    display: block;
    margin-right: 15px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 3em;
    color: steelblue;
    text-shadow: 2px 2px 2px #aaa;
}

#result-question {
    top: 35%;
}

/*MEDIA QUERIES*/

/*Add media Query to change font for fly in words*/
